@model SistemaVentas.Models.TipoUsuario

@{
    ViewBag.Title = "Details";
}

<h2>Detalle</h2>
<hr />
<div>
    <h4>TipoUsuario</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<hr />
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdTipoUsuario }) |
    @Html.ActionLink("Regresar", "Index")
</p>
